[submodule "libraries/zf2"]
	path = libraries/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "libraries/phpCAS"]
	path = libraries/phpCAS
	url = https://github.com/Jasig/phpCAS.git
[submodule "libraries/google-api-php-client"]
	path = libraries/google-api-php-client
	url = https://github.com/google/google-api-php-client.git
[submodule "libraries/iCal4PHP"]
	path = libraries/iCal4PHP
	url = https://github.com/City-of-Bloomington/iCal4PHP.git
[submodule "libraries/recurr"]
	path = libraries/recurr
	url = https://github.com/simshaun/recurr.git
