@import 'sass-modules/_normalize';
@import 'sass-modules/_vars-mixins';
@import 'sass-modules/_eventSegment';
@import 'sass-modules/_fonts';
@import 'sass-modules/_footer';
@import 'sass-modules/_responsiveNav.scss';
@import 'sass-modules/_layout';
@import 'sass-modules/_html-elements';
@import 'sass-modules/_header';
@import 'sass-modules/_menu';
@import 'sass-modules/_nav1';
@import 'sass-modules/_content-section';
@import 'sass-modules/_main';
@import 'sass-modules/_field';
@import 'sass-modules/_buttons';
@import 'sass-modules/_tables';
@import 'sass-modules/_panels';
@import 'sass-modules/eventsList';
@import 'sass-modules/_pillNav';
@import 'sass-modules/_openLayers';
@import 'sass-modules/_selector.scss';
@import 'sass-modules/_schedule.scss';

#marker {
    background: url('images/locationMarker-map.svg') left top no-repeat;
    background-size: 100%;
    width:26px;
    height:38px;
}
