@import 'sass-modules/_normalize';
@import 'sass-modules/_vars-mixins';
@import 'sass-modules/_fonts';
@import 'sass-modules/_layout';
@import 'sass-modules/_html-elements';
@import 'sass-modules/_header';
@import 'sass-modules/_menu';
@import 'sass-modules/_nav1';
@import 'sass-modules/_content-section';
@import 'sass-modules/_main';
@import 'sass-modules/_field';
@import 'sass-modules/_buttons';
@import 'sass-modules/_tables';
@import 'sass-modules/_panels';
@import 'sass-modules/_panelList';
@import 'sass-modules/_openLayers';
@import 'sass-modules/_selector.scss';

#popup {
    background-color: $color-content-background;
    padding:1em;
    border: (1rem/16) solid $cob-gray-dark;
    border-radius: (8rem/16);
    box-shadow: 0 (8rem/16) 1rem 0 rgba(0, 0, 0, .5);

    &:before {
        border: (8rem/16) solid transparent;
        border-top-color: $cob-gray-dark;
        content: ' ';
        display: block;
        height: 0;
        margin-left: (-4rem/16);
        position: absolute;
            top: 100%;
            left: 50%;
        width: 0;
    }
    &:after {
        border: (8rem/16) solid transparent;
        border-top-color: $color-content-background;
        content: ' ';
        display: block;
        height: 0;
        margin-top: (-2rem/16);
        margin-left: (-4rem/16);
        position: absolute;
            top: 100%;
            left: 50%;
        width: 0;
    }

    .geography { display:none; }
}
