// Submit and cancel button area
.input-buttons {
    margin: 1em 0;
}

/**
 * Base styles for buttons and button links
 */

%buttonWithIcon {
    &:before {
        content: '';
        display: block;
        float: left;
        height: 1em;
        margin: .125em .5em 0 0;
        width: 1em;
    }
}
button, .button {
    border:1px solid $color-border-input;
    border-radius:.4em;
    color: $color-heading-2;
    display:inline-block;
    padding: .25em 1em;
    font-size: (14em/16);
    font-weight:normal;
    background: linear-gradient(to bottom, #f2f2f9 21%,#CDD1D9 80%);
    vertical-align: middle;
    &:hover {
        cursor:pointer;
    }
    &.edit{
        @extend %buttonWithIcon;
        &:before   {
            background: url('images/pencil.svg') no-repeat 0 50% / 100% 100%;
        }
    }
    &.delete{
        @extend %buttonWithIcon;
        &:before {
            background: url('images/remove.svg') no-repeat 0 50% / 100% 100%;
        }
    }
    &.feedback {
        background: #23ae4d;
        border: 0 none;
        border-bottom: .25em solid #70bf88;
        color: #fff;
    }
}
.icon {
    height: 1rem;
    overflow: hidden;
    text-indent: -100rem;
    width: 1rem;
}
