.required label {
    &:after {
        content: ' *';
        color: $cob-red;
        font-size: 2em;
        line-height: 0;
        position: relative;
        top: .25em;
    }
}
fieldset {
    margin: 1rem 0;

    &:after {
        border-bottom: 1px solid $cob-gray;
        content: ' ';
        display: block;
        height: 0;
        margin: 1em 0 0 0;
    }
    &:last-of-type:after {
        display: none;
    }

    > legend {
        color: $cob-gray-darkest;
        font-family: $font-headings;
        font-size: (12rem/16);
        text-transform: uppercase;
    }

    > dl {
        padding: .5em 0;

        > dt {
            font-size: (12em/16);
            font-weight: normal;
            margin: 0 0 .25em 0;
        }
        > dd {
            margin: 0;
            padding: 0;

            input {
                box-sizing: border-box;
                border: 1px solid $color-border-input;
                color: $cob-gray-darkest;
                font-family: $font-family-default;
                font-size: 1em;
                padding: .5em;
                width: 100%;

                &:focus {
                    background-color: $color-content-background;
                    border-color: $color-border-input-highlight;
                }
                &[size] {
                    width: inherit;
                }

                &[type="checkbox"], &[type="radio"] {
                    display: inline-block;
                    width: auto;
                }
            }
            > label:not([for]) { // <- Presumes the only reason for a label with no for attribute to appear as a child of a DD is because of a checkbox or radio button.
                vertical-align: middle;
//                    white-space: nowrap;
                > * {
                    display: inline;
                    line-height: 1em;
                    margin: 0;
                    padding: 0;
                    vertical-align: middle;
                }
            }
            > .intl-tel-input > input[type="tel"] {
                padding-left: 44px;
            }
        }

        &.mod-radio {
            > dd {
                box-sizing: border-box;
                margin-bottom: .25em;
                padding: 0 0 0 1.6em;
                vertical-align: middle;

                > label {
                    margin: 0;
                    vertical-align: middle;

                    > input[type="radio"] {
                        font-size: 1em;
                        margin: 0 .45em 0 -1.4em;
                        padding: 0;
                        vertical-align: middle;

                        + span {
                            margin: 0;
                            padding: 0;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        &.mod-checkbox {
            > dd {
                box-sizing: border-box;
                margin-bottom: .25em;
                padding: 0 0 0 1.6em;
                vertical-align: middle;

                > label {
                    margin: 0;
                    vertical-align: middle;

                    > input[type="checkbox"] {
                        font-size: 1em;
                        margin: 0 .45em 0 -1.4em;
                        padding: 0;
                        vertical-align: middle;

                        + span {
                            margin: 0;
                            padding: 0;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    @media all and (min-width: $window-medium) {
        > dl {
            background: $color-background-field;
            margin: 2px 0;

            &:after {
                clear: both;
                content: '';
                display: table;
            }
            &:hover {
                background: $color-background-field-highlight;
            }
            > dt {
                float: left;
                font-size: (13em/16);
                margin: 0;
                padding: 1em 0 0 1em;
                width: 8em;
            }
            > dd {
                margin-left: 8em;

                input {
                    font-size: (14em/16);
                    width: 20em;

                    &[type="date"] { width:inherit; }
                }
            }
        }
    }
}

.editPanel fieldset,
.filterPanel fieldset {
    border: none;
    > dl {
        background: transparent;
        padding: 0;
        margin: .5rem 0;

        &:hover {
            background: transparent;
        }
        &:first-child {
            margin-top: 0;
        }
        > dt {
            float: none;
            margin-bottom: .5em;
            padding: 0;
            width: auto;
        }
        > dd {
            margin-left: 0;

            > textarea {
                width: 17rem;
            }
        }

        &.filters-legend {
            > dd {
                border-left-width: (10rem/16);
                border-left-style: solid;
                // border-color will be set in a style declaration by PHP
                // see: templates/html/partials/head.inc
                background: #fff;
                color: $cob-gray-darkest;
                padding-bottom: (4rem/16);
                padding-left: (30rem/16);
            }
        }
    }
    &#dateFieldSet {
        dl { display: inline-block; margin-left:0; }
    }
}
