#panel-one {
    > footer {
        background: $color-footer-background;
        box-sizing: border-box;
        font-size: (13rem/16);
        height: $footerHeight;
        padding: .5rem;

        h2 {
            color: $color-footer-heading;
            font-family: $font-family-heading;
            font-size: (14rem/16);
            text-transform: uppercase;

        }
        .button {
            font-size: 1rem;
            background: #23ae4d;
            border: 0 none;
            border-bottom: .25em solid #70bf88;
            color: #fff;
        }
        a {
            color: $color-footer-links;
            &:hover {
                text-decoration: underline;
            }
        }


        > .open-data {
            margin: 1em 0;

            > h2 {
                background: url('images/open-data.svg') 0 0 / 1.2em 1.2em no-repeat;
                line-height: 1.25em;
                padding: 0 0 0 1.5em;
            }
        }
        > .open-source {
            margin: 1em 0;
            > h2 {
                background: url('images/github.svg') 0 0 / 1.2em 1.2em no-repeat;
                line-height: 1.25em;
                padding: 0 0 0 1.5em;
            }
        }
    }
}
