body > header {
    border-top: .4em solid $color-accent;
    box-sizing: border-box;
    height: ($siteHeaderHeight - .5);

    > .container {
        margin: 0 auto 0;
        padding-top: .25rem;
        color: $color-header;
        position: relative;
        @include clearfix();

        > .showFilterButton {
            display: none;
        }

        .site {
            &-homeLink {
                display: inline-block;
            }
            &-breadCrumb {
                border-left: (1rem/16) solid $cob-blue-darkest;
                display: inline-block;
                font-family: $font-family-heading;
                margin: 0 0 0 1rem;
                padding: 0 0 0 1rem;
                position: relative;
                    top: (-4rem/16);

                &-ancestors {
                    color: $cob-cornflower;
                    font-size: (12rem/16);
                    line-height: 1em;
                    text-transform: uppercase;
                    > a {
                        color: $cob-cornflower;
                    }
                }
                &-home {
                    display: block;
                    font-size: (20rem/16);
                    line-height: 1em;
                }
            }
            &-utilityBar {
                display: none;
                position: absolute;
                    right: .5rem;
                    top: .5rem;

                nav {
                    float: right;
                    margin: 0 0 0 1em;
                }
            }
            &-logo {
                float: left;
                margin: 0 0 0 .5rem;
            }
        }
    }

    @media screen and (max-width: $window-small) {
        > .container {
            .site {
                &-logo {
                    display: none;
                }
                &-breadCrumb {
                    margin: .5rem 0 0 .5rem;
                }
            }
        }
    }

    @media screen and (min-width: $window-medium) {
        height: $siteHeaderHeight;

        > .container {
            box-sizing: border-box;
            padding-top: .5rem;
            .site {
                &-utilityBar {
                    display: inline-block;
                }
            }
        }
    }

    @media screen and (min-width: $window-large) {
        > .container {
        }
    }
}
