body > header {
    border-top: $size-gutter solid $color-header;
    box-sizing: border-box;
    height: ($siteHeaderHeight - .5);

    > .container {
        margin: 0 auto 0;
        padding-top: $size-gutter;
        color: $color-header;
        position: relative;
        @include clearfix();

        .site {
            &-homeLink {
                display: inline-block;
                vertical-align: middle;
            }
            &-breadCrumb {
                border-left: 1px solid $color-header;
                display: none; // Display on larger sizes instead
                font-family: $font-family-heading;
                margin: 0 0 0 1rem;
                padding: 0 0 0 1rem;
                vertical-align: middle;

                &-home {
                    font-size: $font-size-big;
                    line-height: 1;
                }
            }
            &-utilityBar {
                display: none;
                position: absolute;
                    right: .5rem;
                    top: .5rem;

                nav {
                    float: right;
                    margin: 0 0 0 1em;
                }
            }
            &-logo {
                margin-left: $size-gutter;
            }
        }
    }

    @media screen and (max-width: $window-small) {
        > .container {
            .site {
                &-breadCrumb {
                    margin: .5rem 0 0 .5rem;
                }
            }
        }
    }

    @media screen and (min-width: $window-medium) {
        height: $siteHeaderHeight;

        > .container {
            box-sizing: border-box;
            padding-top: .5rem;
            .site {
                &-breadCrumb {
                    display: inline-block;
                }
            }
        }
    }

    @media screen and (min-width: $window-large) {
        > .container {
            > .site {
                &-utilityBar {
                    display: inline-block;
                }
            }
        }
    }
}
