.container.admin { }
.admin #content-panel { }

.content-container {
    @media screen and (min-width: $window-medium) {
        position: absolute;
            top: $siteHeaderHeight;
            right: 0;
            bottom: 0;
            left: $filters-width;
    }
}

.viewSingle, .eventEdit {
    > header {
        display: none;
        @media screen and (min-width: $window-medium) {
            display: block;
        }
    }
    > main {
//        min-height: 100%;

        > .headerBar {
            overflow-y: auto;
            position: absolute;
                top: 0;
            width: 100%;
        }
        $mobileMapHeight: 12rem;
        > #content-panel {
            height: $mobileMapHeight;
            position: absolute;
            top: $headerBarHeight;
            width: 100%;
        }
        > #panel-one {
            overflow: auto;
            position: absolute;
                top: ($mobileMapHeight + $headerBarHeight);
                right: 0;
                bottom: 0;
                left: 0;
            width: 100%;
        }
        @media screen and (min-width: $window-medium) {
            min-height: inherit;
            > .headerBar {
                position: relative;
                width: 20rem;
                @media screen and (min-width: 84rem) {
                    width: 25rem;
                }
            }
            > #panel-one {
                    top: ($siteHeaderHeight + $headerBarHeight);
                    right: auto;
                    bottom: 0;
                    left: 0;
                overflow-y: auto;
                margin-top: 0;
                min-height: inherit;
                width: 20rem;
                @media screen and (min-width: 84rem) {
                    width: 25rem;
                }
            }

            > #content-panel {
                border-top: .4em solid $color-accent;
                height: auto;
                top: $siteHeaderHeight;
                    left: 20rem;
                    bottom: 0;
                    right: 0;
                @media screen and (min-width: 84rem) {
                    left: 25rem;
                }
            }
        }
    }
}
.eventEdit {
    > main {
        #panel-one {
            bottom: 0;
        }
    }
}
.eventsMap {
    > main {
        > #panel-one {
            position: relative;
            border-top: .4em solid $color-accent;
        }
        .mapPanel {
            display: none;
        }
        @media screen and (min-width: $window-medium) {
            > #panel-one {
                overflow-y: auto;
                position: absolute;
                    top: $siteHeaderHeight;
                    bottom: 0;
                    left: 0;
                width: $filters-width;
            }
            > .content-container {
                $listWidth: 20.5rem;

                > #panel-two {
                    position: absolute;
                        top: $headerBarHeight;
                        bottom: 0;
                        left: 0;
                    overflow: auto;
                    width: $listWidth;
                    @media screen and (min-width: 84rem) {
                        width: ($listWidth + 5);
                    }
                }
                > #content-panel {
                    position: absolute;
                        top: $headerBarHeight;
                        left: $listWidth;
                        bottom: 0;
                        right: 0;
                    @media screen and (min-width: 84rem) {
                        left: ($listWidth + 5);
                    }
                    > .mapPanel {
                        display: block;
                    }
                }
            }

        }
    }
}
.js > .eventsMap {
    > main {
        @media screen and (max-width: $window-small) {
            > #panel-one {
                .filtersToggle {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 100%;
                }
            }
        }
    }
}
.schedule {
    > main {
        > #panel-one {
            position: relative;
        }
        @media screen and (min-width: $window-medium) {
            > #panel-one {
                border-top: .4em solid $color-accent;
                overflow-y: auto;
                position: absolute;
                    top: $siteHeaderHeight;
                    bottom: 0;
                    left: 0;
                width: $filters-width;
            }
            > .content-container {
                > .contentPanel {
                    overflow: auto;
                    position: absolute;
                        top: $headerBarHeight;
                        right: 0;
                        bottom: 0;
                        left: 0;
                }
            }
        }
    }
}

.admin {
    > main {
        @media screen and (min-width: $window-medium) {
            padding: 3rem 0 0 0;
            position: relative;

            &:before {
                background: -moz-linear-gradient(top,  #e4eff8 0%,   $color-content-background 200px); /* FF3.6+ */
                background:   -o-linear-gradient(top,  #e4eff8 0%,   $color-content-background 200px); /* Opera 11.10+ */
                background:  -ms-linear-gradient(top,  #e4eff8 0%,   $color-content-background 200px); /* IE10+ */
                background: linear-gradient(to bottom, #e4eff8 20em, $color-content-background 30em); /* W3C */
                box-sizing: content-box;
                content: '';
                display: block;
                height: 200px;
                padding: 20em 0 0 0;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                background: url($url-header-background);
                background-size: 100% auto;
                content: '';
                display: block;
                height: 18.75em;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 2;
            }


        }

        #content-panel {
            @media screen and (min-width: $window-medium) {
                background: $color-content-background;
                border-top: .4em solid $color-accent;
                margin: 0 auto 0 auto;
                min-height: 40em;
                padding: 2em;
                position: relative;
                width: 46em;
                z-index: 3;

            }
            @media screen and (min-width: $window-large) {
                width: 60rem;
            }

        }
    }
}
