// Overrides for OpenLayers

.mapPanel {
    .ol-control {
        background: none;

        &:hover {
            background: none;
        }
        button {
            background: #fff;
            border: 1px solid $cob-gray;
            border-radius: (4rem/16);
            color: $cob-gray-darkest;

            &:hover {
                background-color: #fff;
                border-color: $cob-gray-dark;
            }
        }
    }
    .ol-attribution {
        bottom: .29rem;
        right: 4.3rem;

        &:not(.ol-collapsed):hover {
            background: rgba(255, 255, 255, .8);
        }
        > button {
            box-sizing: border-box;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}
