.panelList {
    background: $cob-gray-light;
    height: 100%;
    overflow-x: auto;
}
.panelItem {
    &-container {
        position: relative;
        > .edit {
            background: url('images/pencil.svg') no-repeat 0 0 / 100% 100%;
            height: 1rem;
            overflow: hidden;
            position: absolute;
                top: 1rem;
                right: 2rem;
            text-indent: -100rem;
            width: 1rem;
        }
    }
    display: block;
    margin: 0;
    padding: .5rem .5rem 0 .5rem;
    transition: background-color .2s ease-in-out;

    &:after {
        background-color: $cob-gray;
        content: ' ';
        display: block;
        height: (1rem/16);
        position: absolute;
            right: .5rem;
            bottom: 0;
            left: .5rem;
    }

    &:before {
        border: (5rem/16) solid transparent;
        border-top: (5rem/16) solid $cob-gray-darkest;
        content: ' ';
        display: block;
        height: 0;
        opacity: .5;
        position: absolute;
            right: 1rem;
            top: 1rem;
        transition: opacity .2s ease-in-out;
        width: 0;
    }
    &:hover {
        background: #fff;
        &:before {
            opacity: 1;
        }
    }
    > div, > h2 {
        transition: color .2s ease-in-out;
    }
    &.current {
        background-color: #fff;
        > div {
            color: $cob-gray-darkest;
        }

        > .description { display:block; }

        &:before {
            transform: rotate(180deg);
        }
    }
    > .title {
        color: $color-link;
        display: block;
        font-family: $font-family-default;
        font-size: (14rem/16);
        margin: 0 2.5rem .25rem 0;
    }
    > .dates {
        color: $cob-gray-dark;
        display: block;
        font-size: (12rem/16);
        padding: 0 2.5rem .5rem 0;
    }
    > .type        { display:none; }
    > .description { display:none; }
    > .geography   { display:none; }

    @media screen and (min-width: 84rem) {
        > .title {
            font-size: (16rem/16);
        }
        > .dates {
            font-size: (13rem/16);
        }
    }

}
