.mapPanel {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

    #clearFeaturesControl {
        top:100px;
        left:0.5em;

        button { width:7em; }
    }
}
.mapTools {
    position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 2;
    vertical-align: top;

    > button {
        background: $color-button-background;
        border-color: $cob-gray;
        box-shadow: 0 0 0 0 $color-shadow;
        color: $color-button-text;
        line-height: .9rem; // <- Should bump height of button down to 25px
        margin: 0 0 .5rem 0;
        transition: box-shadow .25s ease-in-out, background-color .1s ease-in-out, color .1s ease-in-out;
        width: 5rem;

        &.current {
            background-color: $color-button-background-current;
            color: $color-button-text-active;
        }

        &:hover {
            box-shadow: 0 .25rem .5rem 0 $color-shadow;
        }
        &:focus {
            outline: -webkit-focus-ring-color none;
        }
    }
}

.headerBar {
    background-color: $cob-blue;
    color: #fff;
    height: (32rem/16);
    margin: 0;
    position: relative;

    &-tools {
        border-left: 1px solid $cob-blue-light;
        height: 1.5rem;
        padding: 0 .25rem 0 .25rem;
        position: absolute;
            top: 0;
            right: 0;

        > .button {
            background: $cob-blue;
            border: 0;
            border-radius: 0;
            cursor: pointer;
            display: inline-block;
            height: (24rem/16);
            overflow: hidden;
            padding: 0;
            position: relative;
            text-indent: -1000rem;
            transition: background-color .25s ease-in-out;
            width: (24rem/16);

            &:hover {
                background: $cob-blue-light;
            }
            &:focus, &:active {
                background: $cob-blue;
                outline: 1px solid $cob-blue-light;
            }

            &.add {
                &:before {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: (18rem/16);
                    position: absolute;
                        top: (3rem/16);
                        left: (11rem/16);
                    width: (2rem/16);
                }
                &:after {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: (2rem/16);
                    position: absolute;
                        top: (11rem/16);
                        left: (3rem/16);
                    width: (18rem/16);
                }
            }
            &.edit {
                // @TODO
                // Need icon styles for edit button
            }
            &.back {
                &:before {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: (12rem/16);
                    position: absolute;
                        top: (3rem/16);
                        left: (10rem/16);
                    transform: rotate(45deg);
                    width: (2rem/16);
                }
                &:after {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: (12rem/16);
                    position: absolute;
                        top: (10rem/16);
                        left: (10rem/16);
                    transform: rotate(-45deg);
                    width: (2rem/16);
                }
            }
            &.cancel {
                &:before {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: (18rem/16);
                    position: absolute;
                        top: (3rem/16);
                        left: (11rem/16);
                    transform: rotate(45deg);
                    width: (2rem/16);
                }
                &:after {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: (2rem/16);
                    position: absolute;
                        top: (11rem/16);
                        left: (3rem/16);
                    transform: rotate(45deg);
                    width: (18rem/16);
                }
            }
        }
    }
    &-title {
        font-family: $font-family-heading;
        font-size: (20rem/16);
        font-weight: 300;
        margin: 0 0 0 .5rem;
        padding: .1rem 0 .5rem 0;
    }
}
.three-column > main > .headerBar {
    margin-left: $filters-width;
}
.filterPanel {
    background: $color-filters-background;
    border-bottom: 1px solid $color-border-input;
    color: $color-filters-text;
    overflow-x: auto;
    padding: .5rem;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

.editPanel {
    background: $color-background-field;
    overflow: auto;
    padding: 0 .5rem;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

.detailPanel {
    overflow: auto;
    padding: 0 .5rem;

    .title {
        display: inline-block;
        font-size: (18rem/16);
        margin: 1em 0 .25em 0;
    }
    .dates {
        font-size: (14rem/16);
        margin: 0 0 1rem 0;
    }
    .description {
        white-space: pre-wrap;
    }
    .type      { display:none; }
    .geography { display:none; }
}

.errorPanel {
    background: #fff;
    border-radius: 1em;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .75);
    margin-left: -16rem;
    padding: 0 2rem;
    position: absolute;
        top: 10rem;
        left: 50%;
        z-index: 5;
    width: 30rem;
}
