.mapPanel {
    position: absolute;
        top: 4.35rem;
        right: 0;
        bottom: 0;
        left: 20rem;

    #clearFeaturesControl {
        top:100px;
        left:0.5em;

        button { width:7em; }
    }
}

.windowPanel {
    position: absolute;
        top: 4.35rem;
        bottom: 0;
        left: 0;
    width: 20rem;

    &-header {
        background-color: $cob-blue;
        color: #fff;

        margin: 0;

        &Tools {
            border-left: 1px solid #fff;
            height: 1.5rem;
            padding: 0 .25rem 0 .25rem;
            position: absolute;
                top: 0;
                right: 0;

            > .button.add {
                background: $cob-blue;
                border: 0;
                border-radius: 0;
                display: block;
                height: 1.5rem;
                padding: 0;
                position: relative;
                text-indent: -1000rem;
                transition: background-color .25s ease-in-out;
                width: 1.5rem;

                &:hover {
                    background: $cob-blue-light;
                }
                &:focus, &:active {
                    background: $cob-blue;
                    outline: 1px solid $cob-blue-light;
                }

                &:before {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: .85rem;
                    position: absolute;
                        top: .35rem;
                        left: (11rem/16);
                    width: (2rem/16);
                }
                &:after {
                    background: #fff;
                    content: ' ';
                    display: block;
                    height: (2rem/16);
                    position: absolute;
                        top: (11rem/16);
                        left: .35rem;
                    width: .85rem;
                }
            }

        }
    }
    &-title {
        font-family: $font-family-heading;
        font-size: (20rem/16);
        font-weight: 300;
        margin: 0 0 0 .5rem;
        padding: .1rem 0 .5rem 0;
    }
}

#searchPanel {
    nav a {
        display:block;
    }
}