.panelList {
    background: #fff;
    height: 100%;
    overflow-x: auto;
}
.panelItem {
    &-container {
        position: relative;
        border-left-width: (6rem/16);
        border-left-style: solid;

        > .edit {
            position: absolute;
                top: 1rem;
                right: 3rem;
        }
        &.hasGeography {
            &:before {
                background: url('images/locationMarker-listing.svg') no-repeat 0 0 / 100% 100%;
                content: ' ';
                display: block;
                height: 1rem;
                opacity: .5;
                pointer-events: none;
                position: absolute;
                    top: .75rem;
                    right: 2rem;
                transition: opacity .25s ease-in-out;
                width: 1rem;
            }
        }
        &:hover.hasGeography {
            &:before {
                opacity: 1;
            }
        }
    }
    border-left-style: solid;
    border-left-width: 0;
    display: block;
    margin: 0;
    padding: .5rem .5rem (6rem/16) .5rem;
    transition: border-width .15s ease-in-out, padding .15s ease-in-out;

    &:after {
        background-color: $cob-gray;
        content: ' ';
        display: block;
        height: (1rem/16);
        position: absolute;
            right: .5rem;
            bottom: 0;
            left: .5rem;
    }

    &:before {
        border: (5rem/16) solid transparent;
        border-top: (5rem/16) solid $cob-gray-darkest;
        content: ' ';
        display: block;
        height: 0;
        opacity: .5;
        position: absolute;
            right: 1rem;
            top: 1rem;
        transition: opacity .2s ease-in-out, transform .2s ease-in-out;
        width: 0;
    }
    &:hover {
        background: #e7edf4;
        &:before {
            opacity: 1;
        }
    }
    > div, > h2 {
        transition: color .2s ease-in-out;
    }
    &.current {
        background: #e7edf4;
        border-left-width: (6rem/16);
        padding-right: 0;

        .description {
            display:block;
        }

        &:before {
            transform: scaleY(-1) translateY((5rem/16));
        }
    }
    .title {
        color: $color-link;
        display: block;
        font-family: $font-family-default;
        font-size: (14rem/16);
        margin: 0 3rem (2rem/16) 0;
    }
    .dates {
        color: $cob-gray-dark;
        display: block;
        font-size: (12rem/16);
        padding: 0 2.5rem .5rem 0;
    }
    .type        { display:none; }
    .description {
        color: $cob-gray-darkest;
        display:none;
        font-size: (14rem/16);
        line-height: 1.25em;
        padding: 0 0 (10rem/16) 0;
    }
    .geography   { display:none; }

    @media screen and (min-width: 84rem) {
        > .title {
            font-size: (16rem/16);
        }
        > .dates {
            font-size: (13rem/16);
        }
    }

}
