.pillNav {
    text-align: center;
    > a {
        border: 1px solid $cob-blue-darkest;
        display: inline-block;

        margin: 0;
        padding: .25em 2em;

        &:first-child {
            border-radius: .25em 0 0 .25em;
        }
        &:last-child {
            border-radius: 0 .25em .25em 0;
        }
    }
}
.headerBar > .pillNav {
    margin: (0) auto;
    position: relative;
        top: (-2rem/16);
    width: 15rem;
    > a {
        $border-width: (1rem/16);
        border: $border-width solid $cob-cornflower-light;
        color: #fff;
        margin: 0 (-$border-width) 0 0;
        &:hover {
            background-color: $cob-cornflower;
        }
        &.current {
            background-color: $cob-blue-dark;
        }
    }
}
