.schedule {
    article {
        margin: 1rem .5rem 1rem .5rem;
        max-width: 50rem;
        @media screen and (min-width: $window-medium) {
            margin: 2rem 2rem 2rem 3rem;
        }

        header {
            border-top-width: 6px;
            border-top-style: solid;
            padding: 0;

            h2 {
                display: inline-block;
                padding: .5em 0 0 0;
                margin: (-1rem/16) 0 0 0;
            }
        }
        .title       { }
        .dates       { color: $color-border-input; }
        .description { margin: 1rem 0; }
        .geography   { display: none; }
    }
}
