.nav-dropdown {
    display: inline-block;
    position: relative;
    margin: 0;

    > dt {
        display: block;
        font-size: (13rem/16);
        margin: 0 0 .5em 0;
    }
    > dd {
        display: block;
        margin: 0;
        width: (180rem/16); // <- Default width; overriding via JS encouraged in appropriate contexts
    }

    &-current {
        background: $color-content-background;
        border: 1px solid $cob-gray;
        box-sizing: border-box;
        color: $cob-gray-darkest;
        display: none;
        padding: .25em (21rem/16) .25em 1em; // <-second value provides room for :after pseudo-element
        position: relative;
        &[aria-expanded] {
            display: block;
            &+.nav-dropdown-options {
                position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
            }
        }
        &[aria-expanded="false"]+.nav-dropdown-options {
            display: none;
        }
        &[aria-expanded="true"]+.nav-dropdown-options {
            display: block;
        }
        &:after {
            position: absolute;
                top: 50%;
                right: (5rem/16);
                bottom: 0;
            margin-top: (-2rem/16);
            border-left: (5rem/16) solid transparent;
            border-right: (5rem/16) solid transparent;
            border-top: (6rem/16) solid $cob-gray;
            color: $cob-gray;
            content: ' ';
            width: 0;
            height: 0;
        }
    }
    &-options {
        border: 1px solid $cob-gray;
        margin-top: -1px;
        padding: .5em 0;
        z-index:1;
        position: static; // <- gets changes to absolute via JS
            top: 100%;
            right: 0;
            left: 0;
        background-color: $color-content-background;

        > a {
            color: $cob-gray-darkest;
            cursor: pointer;
            display: block;
            line-height: 1.2em;
            padding: .1em 1em;

            &:hover {
                background-color: $cob-blue;
                color: #fff;
            }
            &.current {
                border-left: (8rem/16) solid $cob-blue;
                padding-left: (8rem/16);
            }
        }
    }
}

.filterPanel .nav-dropdown {
    &-current {
        border: 1px solid $color-border-input;
    }
    &-options {
        border-color: $color-border-input;
    }
}
