.selector {
    display: inline-block;
    position: relative;
    width: (200rem/16); // <- Default width; overriding via JS encouraged in appropriate contexts

    &-current {
        border: 1px solid $cob-gray;
        box-sizing: border-box;
        color: $cob-gray-darkest;
        padding: .25em (16rem/16) .25em 1em; // <-second value provides room for :after pseudo-element
        position: relative;
        &[aria-expanded="false"] + .selector-options { display:none;   }
        &[aria-expanded="true" ] + .selector-options { display: block; }
        &:after {
            position: absolute;
                top: 50%;
                right: (5rem/16);
                bottom: 0;
            margin-top: (-3rem/16);
            border-left: (5rem/16) solid transparent;
            border-right: (5rem/16) solid transparent;
            border-top: (6rem/16) solid $cob-gray;
            color: $cob-gray;
            content: ' ';
            width: 0;
            height: 0;
        }
    }
    &-options {
        border: 1px solid $cob-gray;
        display: none;
        margin-top: -1px;
        padding: .5em 0;
        position: absolute;
            top: 100%;
            right: 0;
            left: 0;
        background-color:$color-content-background;
        z-index:1;

        > a {
            color: $cob-gray-darkest;
            display: block;
            line-height: 1.2em;
            padding: .1em 1em;
            transition: all .25s ease-in-out;

            &:hover {
                background-color: $cob-gray;
                color: $cob-blue-darkest;
            }
        }
    }
}
