/**
 * Urls are relative to screen.css
 */
$url-logo:              "images/logo.svg";
$url-header-background: "images/header-background.jpg";

//Typefaces
@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Roboto';
$serif: "Lora", serif;
$sans:  "Roboto", sans-serif;

$font-family-default: $sans;
$font-family-heading: $serif;
$font-family-nav:     $sans;
$font-weight-heading: 700;

//Font Sizes
$font-size-huge:    2.8125rem;
$font-size-biggest: 1.6667rem;
$font-size-bigger:  1.4000rem;
$font-size-big:     1.2500rem;
$font-size-normal:  1.0000rem;
$font-size-small:   0.8750rem;
$font-size-smaller: 0.6000rem;

// Colors
@import 'color-palette';
// Foreground colors
$color-text-default:               $gray-darkest;
$color-text-secondary:             $gray-darkest;
$color-link:                       $blue;
$color-heading:                    $nightshade;
$color-divider:                    $nightshade;

// Background colors
$color-content-background:         #fff;
$color-selected-background:        $blue-light;

$color-nav1:                       $blue;
$color-header:                     $blue;
$color-header-border:              $cornflower;
$color-footer:                     $nightshade;
$color-error:                      $red-dark;
$color-alert:                      $red-dark;
$color-action:                     $green;
$color-action-hover:               $green-light;
$color-accent:                     $blue-dark;

$color-background-field:           $gray-light;
$color-background-field-highlight: #fafafa;
$color-border-input:               $gray-dark;
$color-border-input-highlight:     $gray;
$color-border-table:               #c0c0c0;

$color-table-background:           #edf0f5;
$color-table-background-alt:       $gray;
$color-table-header-background:    #204984;

$color-shadow: rgba(0, 0, 0, 0.5);


$size-gutter: 4px;

// Viewport size variables
$window-large:  950px;
$window-medium: 600px;
$window-small:  330px;

// Values for absolute positioning
$eventsListWidth: 20.5rem;
$filters-width: 15rem;
$footerHeight: 18rem;
$headerBarHeight: 2.4rem;
$siteHeaderHeight: 4rem;


@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
