/**
 * Urls are relative to screen.css
 */
$url-logo:              "images/logo.svg";
$url-header-background: "images/header-background.jpg";

$font-family-default: "PT Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-heading: Lato, "Helvetica Neue", Arial, sans-serif;

// Colors
// Btown Blue
$cob-blue: #315da6;
$cob-blue-light: #4975ba;
$cob-blue-dark: #143a7a;
$cob-blue-darkest: #06204b;

// Cornflower
$cob-cornflower-brightest: #acf2ff;
$cob-cornflower-light: #5991c2;
$cob-cornflower: #447aa8;
$cob-cornflower-dark: #24537b;
$cob-cornflower-darkest: #12314c;

// Action Green
$cob-green: #20ac59;
$cob-green-light: #70bf88;
$cob-green-lightest: #aaffac;

// Blue-ish gray
$cob-gray-light: #d7e5f4;
$cob-gray: #bcc9d8;
$cob-gray-dark: #8d98a5;
$cob-gray-darkest: #585f68;
$cob-nightshade: #2a2e32; // Darker than darkest

// Warning red
$cob-red: #b54548;
$cob-red-dark: #872528;
$cob-red-darkest: #541214;

$color-text-default: $cob-gray-darkest;
$color-content-background: #fff;

$color-link:   #1e59ae;
$color-nav1:   #1e59ae;
$color-header: #1e59ae;
$color-accent: #1e59ae;

$color-heading-1: #777;
$color-heading-2: #555;
$color-heading-3: #666;


$color-background-field:           $cob-gray-light;
$color-background-field-highlight: #fafafa;
$color-border-input:               $cob-gray-dark;
$color-border-input-highlight:     $cob-gray;
$color-border-modal:               #f3f3f3;
$color-border-table:               #c0c0c0;

$color-table-background:           #edf0f5;
$color-table-header-background:    #204984;

$color-shadow: rgba(0, 0, 0, 0.5);

$color-button-background: #fff;
$color-button-background-current: $cob-blue;
$color-button-text: $cob-gray-darkest;
$color-button-text-active: #fff;

$color-footer-background: $cob-nightshade;
$color-footer-links: $cob-gray;
$color-footer-heading: $cob-gray-light;

$color-filters-background: $cob-gray-dark;
$color-filters-text: #fff;

$size-font-default: 100%;

$font-weight-heading: 600;



// Font families
$font-body-copy: 'PT Sans', Verdana, sans-serif;
$font-headings: Lato, 'Helvetica Neue', Arial, sans-serif;


// Viewport size variables
$window-large: (1024em/16);
$window-medium: (700em/16);
$window-small: (400em/16);

// Values for absolute positioning
$filters-width: 14.5rem;
$footerHeight: 13.5rem;
$headerBarHeight: 2rem;
$siteHeaderHeight: 4.35rem;


@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
