// Btown Blue
$blue:                 #315da6;
$blue-light:           #4975ba;
$blue-dark:            #143a7a;
$blue-darkest:         #06204b;

// Cornflower
$cornflower-brightest: #acf2ff;
$cornflower-light:     #5991c2;
$cornflower:           #447aa8;
$cornflower-dark:      #24537b;
$cornflower-darkest:   #12314c;

// Action Green
$green:                #23ae4d;
$green-light:          #70bf88;
$green-lightest:       #aaffac;

// Blue-ish gray
$gray-light:           #d7e5f4;
$gray:                 #bcc9d8;
$gray-dark:            #8d98a5;
$gray-darkest:         #585f68;
$nightshade:           #2a2e32; // Darker than darkest

// Warning red
$red:                  #b54548;
$red-dark:             #872528;
$red-darkest:          #541214;
