#eventsList {
    background: $color-content-background;

    .emptyResult {
        margin: 2rem;
        &:before {
            background: url('images/empty-result-icon.svg') no-repeat 50% 50% / 100% 100%;
            content: '';
            display: block;
            height: (150rem/16);
            margin: 1rem auto 0 auto;
            width: (150rem/16);
        }
        > h2 {
            color: $color-accent;
            margin: 1em 0 .25em 0;
            text-align: center;
        }
        > p {
            color: $color-text-default;
            margin: 0 0 1em 0;
        }
    }

    summary {
        &::-webkit-details-marker { display:none; }
        list-style: none;

        span { display:block; margin:0 16px; }
        background: no-repeat top left/16px url('images/fa-svg/gray-darkest/caret-right.svg');
    }

    details {
        border-left-style:solid;
        border-left-width:$size-gutter;
        border-bottom: 1px solid $color-border-input;
        &[open] {
            border-left-width:($size-gutter * 2);
            > summary { background-image: url('images/fa-svg/gray-darkest/caret-down.svg'); }
        }

        div { margin-left:16px; }

        &.hasGeography {
            background:no-repeat top 4px right 4px/16px url('images/fa-svg/gray/map-marker.svg');
            &[open] { background-image: url('images/fa-svg/blue/map-marker.svg'); }
        }

        h2 {
            font-family: $font-family-default;
            font-size: (14rem/16);
        }
        .title { color: $color-link; }
        .dates {
            color: $color-border-input-highlight;
            font-size: (12rem/16);
        }
        .type        { display:none; }
        .description {
            color: $color-text-default;
            font-size: (14rem/16);
            line-height: 1.25em;
            padding: 0 0 (10rem/16) 0;
        }
        .geography   { display:none; }

        @media screen and (min-width: 84rem) {
            > .title {
                font-size: (16rem/16);
            }
            > .dates {
                font-size: (13rem/16);
            }
        }
    }
}
